<div class="panel panel-primary">
    <div class="panel-heading">{{message}}</div>
    <div class="panel-body">
        <ul>
        <li>RESPONSE: {{response}}</li>
        <li>TICKET: {{ticket}}</li>
        <li>REQUEST: {{request}}</li>
        </ul>
    </div>    
</div>

<div class="text-center">
<a href="/" class="btn btn-primary">Return to List of Users</a>
</div>

