<div class="panel panel-primary">
    <div class="panel-heading">ERROR: {{message}}</div>
    <div class="panel-body">
        {{error.status}}
        <code>
            {{error.stack}}
        </code>
    </div>    
</div>

<div class="text-center">
<a href="/" class="btn btn-primary">Return to List of Users</a>
</div>