<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>    
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
     
           <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">     
                <a href="/" class="pull-left">
                <img alt="iPortal" src="/images/q.png">
              </a>          
                <a class="navbar-brand" href="/"> iPortal</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling 
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                                       
                <ul class="nav navbar-nav navbar-right">        
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="admin glyphicon glyphicon-cog"></span> Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Option #1</a></li>
                      <li><a href="#">Option #2</a></li>            
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Option #3</a></li>
                    </ul>
                  </li>
                </ul>
              </div>  
              -->
            </div><!-- /.container-fluid -->
          </nav>    
      
      {{{body}}}      
      <p class="footer">Qlik Sense Impersonation Portal (iPortal) created by the Qlik Enterprise Architecture Team, 2016.</p>
     </div>
    </div>
  </body>
</html>
